<div class="flex flex-col flex-grow container gap-2 px-4 mx-auto my-8 max-w-4xl">
  <div class="flex flex-col gap-2 flex-grow" id="<%= dom_id chat %>">
    <%= render partial: "messages/message", collection: @chat.messages, as: :message, cached: true %>
  </div>

    <%= render "messages/form", message: @chat.messages.build %>
</div>
