<div class="flex h-screen">
  <!-- Sidebar for Chats -->


  <!-- Main Container for Messages -->
  <div class="flex-1 bg-white dark:bg-gray-900 overflow-y-auto">
    <% if @chat %>
      <h2 class="p-4 text-lg font-bold"><%= @chat.title %></h2>
      <div class="p-4 space-y-4">
        <%= render partial: "messages/message", collection: @chat.messages, as: :message %>
      </div>
      <div class="p-4">
        <%= render "messages/form", message: @chat.messages.build %>
      </div>
    <% else %>
      <div class="p-4 text-center">
        <p class="text-gray-500">Select a chat to view messages.</p>
      </div>
    <% end %>
  </div>
</div>
