<nav class="flex py-1 justify-between border-b border-gray-700" data-controller="toggle">
  <div class="flex flex-grow items-center justify-between text-lg">
    <%= content_for :header %>
  </div>

  <div class="nav-user-controls">
    <%= render "notifications" %>
    <%= render "user_menu" %>
  </div>

  <%= render "flash" %>
</nav>
